[Desktop Entry]
Encoding=UTF-8
Keywords=
Icon=preferences-desktop-wallpaper
Name=Inactive Blur

Type=Service

X-KDE-ServiceTypes=Plasma/Wallpaper
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Chris Holland
X-KDE-PluginInfo-Email=zrenfire@gmail.com
X-KDE-PluginInfo-Name=com.github.zren.inactiveblur
X-KDE-PluginInfo-Version=4
X-KDE-PluginInfo-Website=https://github.com/Zren/plasma-wallpapers/tree/master/inactiveblur
X-Plasma-MainScript=ui/main.qml

MimeType=image/jpeg;image/png;image/svg+xml;image/svg+xml-compressed;image/bmp;
X-Plasma-DropMimeTypes=image/jpeg,image/png,image/svg+xml,image/svg+xml-compressed,image/bmp
